<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="text text-center">
        <h1>
            welcome pythonostad.ir
        </h1>
        <h2>
            this is course site
        </h2>
        <hr>
        <h2>
            developer name : {{ user.name }}

        </h2>
        <h2>
            developer last name: {{ user.lastname }}
        </h2>
    </div>
</body>
</html>
